/* CSS */

/* --- Typos --- */
@font-face {
  font-family: Roboto-Thin;
  src: local("Roboto-Thin"),
       url(font/Roboto-Thin.ttf);
}
@font-face {
  font-family: Roboto-Light;
  src: local("Roboto-Light"),
       url(font/Roboto-Light.ttf);
}
@font-face {
  font-family: Roboto-Regular;
  src: local("Roboto-Regular"),
       url(font/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: local("Roboto-Bold"),
       url(font/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-Black;
  src: local("Roboto-Black"),
       url(font/Roboto-Black.ttf);
}

/* --- Général --- */
BODY {
  margin: 0;
  padding: 0;
  font-family: "Roboto-Regular";
}

h1, h2, h3, h4; h5, h6 {
  font-family: "Roboto-Thin";
}

/* --- IMAGES --- */
.cover {
  height:300px;
  width:100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
@media (max-width: 1200px) {
  .separe_blanc {
    border-bottom: 1px solid #FFF;
    margin: 10px 0px;
}

/* --- FOOTER --- */
.copyright {
  float:right;
  border-top:5px solid #d20962; /* rose */
  margin-top:20px;
  padding:10px;
  color:#CCC;
  text-align:right;
}
